.bookshelf {
    .nav {
        background-color: $white;
        border-bottom: 1px solid $border;
    }
    .shelf-operate {
        text-align: right;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 0;

        .so-btn {
          display: block;
          padding: 0 15px;
          font-size: 16px;
          color: $theme;
          cursor: pointer;
          line-height: 50px;
        }
    }
    .book-one {
      li:nth-of-type(1){
        padding-top: 0px;
      }
      a {
        flex: 1;
      }
    }
    .books-column li{
      position: relative;
      display: flex;
    }
    .books-column li .book-link {
      position: relative;
      flex-grow: 1;
      @include tap();
    }
    .update::before{
      top: 5px; 
      left: 50px;
      width: 32px;
      height: 20px;
      color:$white;
      font-size:11px;
      content: "\66f4\65b0";
      padding-top: 1px;
      position: absolute;
      background-image: $updateImage;
      background-repeat: no-repeat;
      background-size: 100%;
      display:flex;
      justify-content:center;
      align-items: center;
    }
    .serial::before{
      top: -4px; 
      left: 54px;
      width: 20px;
      height: 32px;
      color:$white;
      display: block;
      font-size:11px;
      line-height: 12px;
      padding: 3px 0 0 2px;
      content: "\8fde\8f7d";
      position: absolute;
      text-align: center;
      background-image: $serialImage; /*no*/
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .complete::before{
      top: -6px; 
      left: 46px;
      width: 40px;
      height:40px;
      color:$white;
      font-size:11px;
      content: "\5b8c\672c";
      padding: 2px 2px 0 0;
      position: absolute;
      display:flex;
      justify-content:center;
      align-items: center;
      transform:rotate(47deg);
      z-index: 2;

    }
    .complete::after{
      top: -2px;
      left: 38px;
      width: 40px;
      height:40px;
      display:flex;
      content: "";
      position: absolute;
      background-size: 100%;
      background-image:$completeImage;
      background-repeat: no-repeat;
    }
    .delete{
      width: 40px;
      height: 40px;
      background-size: 15px 17px;
      background-repeat: no-repeat;
      background-image: $removeImage;
      background-position: center;
      position: absolute;
      right: 28px;
      top: 10px;
      @include tap();
    }
    .descn {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        color: $text-medium;
        line-height: 20px;
        text-align: left;
    }
    .section{
      display: flex;
      flex-direction: column;
      &.no-book{
        padding-top: 64px;
        padding-bottom: 104px;
        justify-content:center;
        align-items: center;
      }
      &.not-login{
        margin-bottom: 8px;
      }
    }
    .no-book-img{
      width: 90px;
      height: 81px;
      @include retina-image('shelf.png', no-repeat 0 0 / 100%);
    }
    .no-book-text{
      font-size:14px;
      color:$text-light;
      text-align:left;
      margin-top: 24px;
    }
    .not-login-main{
      flex-grow: 1;
      padding: 62px 81px 66px 72px;
      font-size:12px;
      color:$text-light;
      text-align:left;
    }
    .recommended{
      .title{
        flex-grow: 1;
        width: 100%;
      }
      .name{
        font-size:17px;
        color:$text;
        text-align:left;
      }
      .join{
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        margin: -15px 0 0 -52px;
        width:104px;
        border:1px solid $border;
        border-radius: 20px;
        text-align: center;
        line-height: 30px;
        font-size: 15px;
        color: $theme;
        @include tap();
      }
    }
}
